# general autotool temp files and temporary compiled libraries
*.[oa]
*.lo
*.la
Makefile
Makefile.in
*.swp
*.loT
aclocal.m4
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
config.h
config.h.in
config.h.in~
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh

libtool
.deps
.libs
stamp-h1
autom4te.cache
INSTALL
ltmain.sh
missing

compile

#bellagio specific
omxaudiodectest
omxaudioenctest
omxcameratest
omxmuxtest
omxparsertest
omxvideocapnplay
omxvideodectest
omxvideoenctest
omxvoicexchange

omxaudiocapnplay

omxjpegdectest
omxjpegenctest
audio_capturer_test
audio_decoder_test
audio_reader_test
audio_renderer_test
audio_writer_test
omxvideocapturetest

